pkgbase = scala-cli-native-bin
	pkgdesc = Scala CLI is a command-line tool to interact with the Scala language.
	pkgver = 1.1.2
	pkgrel = 1
	url = https://scala-cli.virtuslab.org
	arch = x86_64
	license = Apache
	depends = java-runtime-headless>=8
	conflicts = scala-cli
	noextract = scala-cli-1.1.2.gz
	options = !strip
	source = scala-cli-1.1.2.gz::https://github.com/VirtusLab/scala-cli/releases/download/v1.1.2/scala-cli-x86_64-pc-linux.gz
	sha256sums = c341278c9ceab5554431928cd50067fcbfbff335695b78c862dcd0a4c1fe0dce

pkgname = scala-cli-native-bin
