pkgbase = scalafmt-native-bin
	pkgdesc = code formatter for the Scala programming language. (native pre-compiled binary)
	pkgver = 3.8.1
	pkgrel = 1
	url = https://scalameta.org/scalafmt/
	arch = x86_64
	license = Apache
	provides = scalafmt
	conflicts = scalafmt
	options = !strip
	source = scalafmt-3.8.1::https://github.com/scalameta/scalafmt/releases/download/v3.8.1/scalafmt-linux-musl
	sha256sums = 4a17b44855aecc351f7ab27b7c12feff09162cbc79658cb66de087887b9d151d

pkgname = scalafmt-native-bin
