pkgbase = flix
	pkgdesc = Flix programming language
	pkgver = 0.37.0
	pkgrel = 1
	url = https://flix.dev/
	arch = any
	license = Apache
	depends = java-environment>=11
	source = flix-0.37.0.jar::https://github.com/flix/flix/releases/download/v0.37.0/flix.jar
	source = launch-script.sh
	sha256sums = ec79f2f18ef8221a6db68e0b92f00d4ad500c01401acd9708d0e4fa81c2c6d6d
	sha256sums = SKIP

pkgname = flix
