[Unit]
Description=Bloop Scala build server

[Service]
ExecStart=/usr/bin/bloop server
StandardOutput=journal
StandardError=journal
SyslogIdentifier=bloop
Restart=on-failure

[Install]
WantedBy=default.target
